body{
    background: rgb(26, 87, 53);
}
h1 {
    color: blueviolet;
    text-align: center;
}

h2 {
    color: brown;
    text-align: center;
}

span {
   font-size: 15px;
   color: aqua;
}
p {
    color: white;
}
.text-hw {
    color: beige;
    font-size: 20px;
}
div#container>ul {
    border: 1px solid rgb(150, 23, 23);
}
a:link {
    color: rgb(11, 245, 69);
}
li {
    color: blue;
    font-size: 40px;
}
